rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function checkIfLeiter(){
    	return get(/databases/$(database)/documents/user/$(request.auth.uid)).data.Pos == 'Leiter';
    }
    function checkIfParent(userID){
    	let parents = get(/databases/$(database)/documents/user/$(userID)).data.Eltern;
    	return parents != null && request.auth.uid in parents;
    }
    match /config/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /events/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /groups/{groupID} {
      allow read: if true;
      allow write: if request.auth != null;
      match /priviledge/{userID}{
      	allow read,write: if true;
      }
    }
    match /messages/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /request/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /user/{userID}{
      allow read,write: if request.auth.uid == userID || checkIfParent(userID) || checkIfLeiter();
    }
  }
}